Создать сайт интернет магазина техники

=== Функционал сайта ===

Для гостя (незарегистрированого пользователя) :

- регистрация на сайте
- просматривать товары, их цены, фильтровать их по категориям, цене, сортировать их


Для клиента :

- все что может гость
- авторизация, изменение пароля сайте
- создавать заказы на несколько товаров и в некотором количестве, просматривать их
- отменять заказы, статус которых "Создан" (Created)

Для менеджера :

- все что может клиент, кроме создания заказов
- создавать, редактировать, устанавливать статус "не в наличии" для товаров
- добавлять либо убирать фотографии для товаров
- создавать новые категории, добавлять в них товары
- принимать заказы клиентов и помечать их как выполненые

Для админа :

- все что можно менеджеру но без создания заказов
- изменять роли пользователей на менеджеров или наоборот (не реализовано)


=== Описание товаров ===

- Название
- Категория
- Фото товара (несколько штук)
- Цена товара
- Наличие
- Описание


=== Описание категории

- Название


=== Описание заказа

- Пользователь
- Товары
- Время создания заказа
- Статус заказа

Статусы заказов : Created, Sent, Delivered, Completed, Canceled


=== Описание пользователя ===

- Имя
- Имейл
- Пароль (зашифрованый)
- Роль (админ или клиент)


========= ТЕХНИЧЕСКИЙ ФУНКЦИОНАЛ API ==============

Auth :

POST /api/registration
- Зарегистрироваться на сайте

POST /api/login
- Войти на сайт

PUT /api/changepassword [User, Manager, Admin]
- Изменить пароль на сайте


Categories :

POST /api/categories
- Создать категорию

GET /api/categories
- Получить все категории

Products :

GET /api/products/{id}
- Получить информацию о конкретном товаре

GET /api/products
- Получить все товары (согласно фильтру, пагинации и сортировке)

POST /api/products [Manager, Admin]
- Создать товар

PUT /api/products [Manager, Admin]
- изменить информацию о товаре


Users (не реализовано) :
GET /api/users [Manager, Admin] 
- Получить всех пользователей

GET /api/users/{id} [Manager, Admin] 
- Получить информацию о пользователе

PUT /api/users Admin]
- Изменить роль пользователя


Orders :

GET /api/orders/{id} [Manager, Admin]
- Получить информацию о заказе по его айди

GET /api/orders/{userid} [User, Manager, Admin]
- Получить заказы пользователя

POST /api/orders [User]
- Создать заказ

PUT /api/orders/cancel [User]
- Отменить заказ (может только пользователь, который его создал)

PUT /api/orders [Manager, Admin]
- Изменить статус заказа





